<ul class="actions",style="list-style: none;">
<h2>My Actions</h2>
<% @actions.each do |action| %>
<li> Event type: <%= action[:type]%> </li>
<li>Repo name: <%= action[:repo] %></li><br>
<% end %>
</ul>
